<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
    <link rel="stylesheet" href="../assets//css/tailwindstyle.css">
</head>

<body class="bg-yellow-100">
    <div class="border-2 border-black rounded-xl p-2 px-3
    flex flex-col m-2 justify-start shadow-md shadow-black min-h-screen
    w-[150px] md:w-[250px] relative">
        <span class="text-center mb-2">Sidebar Menu</span><hr/>
        <div class="absolute left-[99%] top-[50%] cursor-pointer">"close"</div>
        
        <div class="flex flex-col justify-start">
            <button class="content-start text-start p-2 mb-1 mt-1 hover:bg-blue-300 hover:rounded-lg hover:border-[1px] hover:border-black">Button-01</button>
        </div>
    </div>
</body>

</html>